<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylethree.css">
    <script src="https://kit.fontawesome.com/4193a23255.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>


        <div class="col-sm-6">
          <h3 id="special">Trade board</h3>
          <ul class="board">
          <% for(var i=0; i<sneakers.length; i++) {%>
            <li class="board">
              
              <span><%= sneakers[i].user %></span>
              <span><%= sneakers[i].style %></span>
              <span><%= sneakers[i].size %></span>
              <span><%= sneakers[i].tradeReqBy %></span>
              <span><i class="fas fa-shopping-cart" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              <!-- <span><button class="delete" type="submit">trash</button></span> -->
              <!-- <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
              <!-- <span><i class="fa fa-trash" aria-hidden="true"></i></span> -->
            </li>
          <% } %>
          </ul>

          <h2>Post an available trade!</h2>
        <% if (user.local.email) { %>
          <form action="/special" method="POST">
            <input type="text"  name="user" required>
            <input type="text" placeholder="style" name="style" required>
            <input type="number" step="0.1" placeholder="size" name="size" required>
            <button type="submit">Submit</button>
          </form>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
